{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Japanese Language Baby" %}{% endblock title %}

{% block content %}
<div x-data="{ audio: null, playAudio() { this.audio.play(); } }" x-init="audio = $refs.audio" class="container-md">
    <div class="text-center">
        <h1 class="my-3">{% trans "Japanese Language Baby" %} - 日本語の赤ちゃん</h1>
        <p class="lead">{% trans 'Click on a building block to start learning!' %}</p>
    </div>

    <div class="row justify-content-center">
        <!-- Eating Block -->
        <div class="col-4 text-center">
            <img src="{% static 'images/taberu_block_2_nb.png' %}" 
                 alt="{% trans 'Eating Block' %}" 
                 hx-get="{% url 'japanese-eating-block' %}" 
                 hx-target="#content-area" 
                 @click="playAudio"
                 class="img-fluid block-image">
            <audio x-ref="audio" src="{% static 'audio/taberu.mp3' %}" preload="auto"></audio>
        </div>
    </div>

    <!-- Content Area for Dynamic Loading -->
    <div id="content-area"></div>
</div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'js/japanese/baby/game.js' %}"></script>
{% endblock scripts %}