{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Japanese Language Baby" %}{% endblock title %}

{% block content %}
<div class="container-md">
    <div class="text-center">
        <h1 class="my-3">{% trans "Japanese Language Baby" %} - 日本語の赤ちゃん</h1>
        <p class="lead">{% trans 'Welcome to the first "baby" step of your Japanese language journey!' %}</p>
    </div>

    <div class="row">
        <!-- Side Navigation -->
        <div class="col-sm-2 d-none d-sm-block">
            <nav id="japanese-baby-side-navbar" class="navbar navbar-light bg-light position-sticky" style="top: 60px;">
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link" href="#day-1">Day 1</a>
                    <a class="nav-link" href="#day-2">Day 2</a>
                    <a class="nav-link" href="#day-3">Day 3</a>
                </nav>
            </nav>
        </div>

        <!-- Content -->
        <div class="col-sm-10" data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0">
            <h2 id="day-1">Day 1</h2>
            <p>Content for Day 1</p>

            <h2 id="day-2">Day 2</h2>
            <p>Content for Day 2</p>
            
            <h2 id="day-3">Day 3</h2>
            <p>Content for Day 3</p>

        </div>
    </div>
</div>
{% endblock content %}
