{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Blog Posts" %}{% endblock title %}

{% block content %}
  <div class="container-md">
    <div class="text-center">
        <h1 class="my-3">{% trans "Blog Posts" %}</h1>
    </div>
    <div class="list-group">
      {% for blog_post in object_list %}
        <a href="{% url 'blogpost-detail' blog_post.pk %}" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ blog_post.title }}</h5>
            <small>{{ blog_post.date_published|date:"d M Y" }}</small>
          </div>
          {% if blog_post.sub_title %}
            <p class="mb-1">{{ blog_post.sub_title }}</p>
          {% endif %}
          <small>
            {% if blog_post.author %}
              {{ blog_post.author.get_full_name|default:blog_post.author.username }},
            {% endif %}
            {{ blog_post.date_modified|date:"d M Y" }}
            <div>
                {% trans "Article available in the following languages" %}:
                {% for lang in blog_post.language.all %}
                  {{ lang }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
            <div>
                {% trans "Categories" %}:
                {% for cat in blog_post.category.all %}
                  <span class="">{{ cat.name }}</span>
                {% endfor %}
            </div>
          </small>
        </a>
      {% empty %}
        <li id="empty-list" class="list-group-item">{% trans "No blog posts yet." %}</li>
      {% endfor %}
    </div>
  </div>
{% endblock content %}