{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="container-md">
    <div class="text-center mt-5">
        <h1 class="mb-4">Login</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <form method="post" action="{% url 'login' %}" class="needs-validation" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="hidden" name="next" value="{{ next }}" />
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
            <div class="text-center mt-3">
                <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}