{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Register{% endblock title %}

{% block content %}
<div class="container-md">
    <div class="text-center mt-5">
        <h1 class="mb-4">Register</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}