{% extends 'base.html' %}

{% block title %}Learn Like A Baby{% endblock title %}

{% block content %}
<div class="container-md">
    <div class="text-center">
        <h1 class="my-3">Learn Like A Baby</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <p class="lead my-2">
                A blog about learning. Why like a baby? 
                The learning process is often hampered by preconceived notions and bad habits; 
                when you learn like a baby, you are as close to a blank slate as possible. 
                You can't fill a cup that is already full.
            </p>
        </div>
    </div>
</div>

{% endblock content %}