{% extends 'base.html' %}

{% block title %}Learn Like A Baby{% endblock title %}

{% block content %}
<div class="container-md">
    <div class="text-center">
        <h1 class="my-3">Learn Like A Baby</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <p class="lead my-2">
                A blog about language learning. Why like a baby? 
                The language learning process is often hampered by preconceived notions and bad habits; 
                when you learn like a baby, you are curious and unafraid of failure. 
            </p>
            <h4 class="my-3"><em>What language has caught your fancy?</em></h4>
            <ul class="list-group">
                <a href="#" class="list-group-item list-group-item-action">English</a>
                <a href="#" class="list-group-item list-group-item-action">Japanese</a>
                <a href="#" class="list-group-item list-group-item-action">Spanish</a>
            </ul>
        </div>
    </div>
</div>

{% endblock content %}
