{% extends 'base.html' %}

{% block title %}Learn Like A Baby{% endblock title %}

{% block content %}
<div class="container-md">
    <div class="text-center">
        <h1 class="my-3">Learn Like A Baby</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <p class="lead my-2">
                A blog about learning. Why like a baby? 
                The learning process is often hampered by preconceived notions and bad habits; 
                when you learn like a baby, you are as close to a blank slate as possible. 
                You can't fill a cup that is already full.
            </p>
            <h4 class="my-3"><em>What kind of learning are you yearning for?</em></h4>
            <ul class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    <h5>Human Languages</h5>
                    <p>Japanese, Spanish, Korean, etc.</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <h5>Human Learning</h5>
                    <p>Ethics, self-improvement, diet</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <h5>AI Safety</h5>
                    <p>Research, philosophy, books</p>
                </a>
                {% comment "Categories to add" %}
                <a href="#" class="list-group-item list-group-item-action">
                    <h5>Coding Languages</h5>
                    <p>Python, JavaScript, HTML, CSS</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <h5>Machine Learning / AI</h5>
                    <p></p>
                </a>
                {% endcomment %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}
